/*
    1. Login to Qoo10 
    2. Access the console of your browser of choice
    3. Run document.cookie
    4. From the output, copy the ... portion of GMKT.FRONT.SG=...;
    5. Update the following values 
    6. Save and rename file to credentials.py
*/

exports.sid = '...'
