'''
    Create an account at https://dev.fitbit.com/apps/new
    
    Use the following options
    `Personal` for `OAuth 2.0 Application Type *`
    `http://127.0.0.1:8080` for `Callback URL *`
    ` Read & Write` for `Default Access Type *`
'''

'''
    Copy ACCESS_TOKEN and USER_ID from the return url in the address bar: http://127.0.0.1:8080/#access_token=[ACCESS_TOKEN]&user_id=[USER_ID]

    Then, update them below.
'''
# Update the following values
# You can use mutliple dev accounts

# First dev account
CLIENT_ID_1 = '...'
USER_ID_1 = '...'
ACCESS_TOKEN_1 = '...'

# Second dev account
CLIENT_ID_2 = '...'
USER_ID_2 = '...'
ACCESS_TOKEN_2 = '...'

TOKENS = [
    (CLIENT_ID_1, USER_ID_1, ACCESS_TOKEN_1),
]
